[submodule "Python_for_Data_Analysis"]
	path = Python_for_Data_Analysis
	url = https://github.com/christyjohn/Python_for_Data_Analysis
[submodule "AI_ML_DatasScience_Bootcamp_ZtoM_Udemy"]
	path = AI_ML_DatasScience_Bootcamp_ZtoM_Udemy
	url = https://github.com/christyjohn/AI_ML_DatasScience_Bootcamp_ZtoM_Udemy
